<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Modifica Categoria - TechStore</title>
<link rel="stylesheet" href="/css/admin/categoria/aggiungiCategoria.css">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>

	<!-- Navbar -->
	<header class="navbar">
		<h1 class="logo" data-aos="fade-down" data-aos-duration="1000">TechStore</h1>
	</header>

	<!-- Form Modifica Categoria -->
	<div class="form-container" data-aos="flip-right" data-aos-duration="4000">
		<h2 data-aos="fade-right" data-aos-duration="1500">Modifica categoria</h2>

		<form enctype="multipart/form-data" method="post"
			th:action="@{/admin/categoria/edit(id=${categoria.idCategoria})}"
			th:object="${categoriaDTO}">

			<label for="nome" data-aos="fade-right" data-aos-duration="2000">Nome categoria</label> <input type="text" id="nome"
				name="nome" th:field="*{nomeCategoria}"
				placeholder="Es. Accessori Gaming" data-aos="fade-up-right" data-aos-duration="3000">
			<p th:if="${#fields.hasErrors('nomeCategoria')}"
				th:classappend="${#fields.hasErrors('nomeCategoria')} ? 'text-danger' : ''"
				th:errorclass="text-danger" th:errors="*{nomeCategoria}"></p>

			<label for="descrizione" data-aos="fade-right" data-aos-duration="2000">Descrizione</label> <input type="text"
				id="descrizione" name="descrizione" th:field="*{descrizione}"
				placeholder="Inserisci una descrizione..."data-aos="fade-up-right" data-aos-duration="3000">
			<p th:if="${#fields.hasErrors('descrizione')}"
				th:classappend="${#fields.hasErrors('descrizione')} ? 'text-danger' : ''"
				th:errorclass="text-danger" th:errors="*{descrizione}"></p>

			<label for="image" data-aos="fade-right" data-aos-duration="2000">Cambia immagine</label> <input
				class="form-control" type="file" id="image" th:field="*{image}" data-aos="fade-up-right" data-aos-duration="3000">
			<div class="form-text">Carica una nuova immagine (opzionale).
				Formati supportati: .jpg, .png.</div>
			<p th:if="${#fields.hasErrors('image')}" th:errorclass="text-danger"
				th:classappend="${#fields.hasErrors('image')} ? 'text-danger' : ''"
				th:errors="*{image}"></p>

			<!-- Pulsanti -->
			<div class="d-flex justify-content-between">
				<a th:href="@{/admin/categoria/visualizzaCategorie}"
					class="btn btn-secondary rounded-pill" >Annulla</a>
				<button type="submit" class="btn btn-primary rounded-pill">Salva
					modifiche</button>
			</div>
		</form>
	</div>

	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
    AOS.init();
  </script>

</body>
</html>
